<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <article class="kennisbank-article" id="top">
      <h1>Instrumentarium</h1>
      Vind hier meer informatie over de toegankelijkheid principes en richtlijnen:<% api.principes.forEach(principe=> {
        %>
        <%= principe.titel %>
          <%})%>
    </article>

    <br>
    <br>

    <% api.principes.forEach( principe=> { %>
      <article class="kennisbank-article" id="waarneembaar">
        <h2>
          <%= principe.titel %>
        </h2>
        <p>Verklaring Digitale toegankelijkheid | <%= principe.titel %>
            <br>
            <hr><br>
            <%- principe.beschrijving.html %>
            <br><br>
        </p>

        <% principe.richtlijnen.forEach( richtlijn=> { %>
          <button class="accordion">
            <%= richtlijn.titel %>
          </button>
          <div class="panel">
            <p>
              <br>
            <h3>Richtlijn: <%= richtlijn.index %>
            </h3>
            <%- richtlijn.uitleg.html %>
              <br><br>
              </p>
          </div>
          <% }) %>

      </article>

      <% }) %>

        <br>
        <br>




        <%- include('./partials/foot') %>